# No whitespace after the comma or in your part name!
config SHIELD_ERGO_DECKS_LEFT
    def_bool $(shields_list_contains,ergo_decks_left)

# No whitespace after the comma or in your part name!
config SHIELD_ERGO_DECKS_RIGHT
    def_bool $(shields_list_contains,ergo_decks_right)